<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments.html :: headerfiles">
    <title>Log in</title>
</head>
<body>
<div class="container">
    <div style="width:600px;margin-left: auto;margin-right: auto;margin-top:24px;padding: 24px;">
        <div class="card">
            <div class="card-header">
                <i class="fa fa-info-circle"></i> Error 403
            </div>
            <div class="card-block" style="padding: 24px;">
                <h2>Sorry, you don't have permission to access this page</h2>
            </div>
        </div>
    </div>
</div>
</body>
</html>